body {
    background-color: rgb(159, 179, 179);
    text-align: center;
}

.head {
    display: inline-block;
    margin-top: 40px;
    margin-right: 70px;
}

.topnav {
    background-color: rgb(159, 179, 179);
    overflow: hidden;
    text-align: center;
    margin-left: 430px;
}

.topnav a {
    float: left;
    color: #0c0808;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(153, 194, 194)D;
    color: LightGray;
}

.content {
    text-align: center;
}


form input[type="text"],
form input[type="text"],
form input[type="email"],
form input[type="citizenship"] {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #232121;
}

form input[type="reset"]:hover {
    background-color: #ecfded;
    width: 25%;
    padding: 10px;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #477a49;
    color: rgb(18, 16, 16);
    cursor: pointer;
}

.links_github {
    text-align: left;
    font-size: 17px;
    color: #0c0808;
}

.github {
    width: 40px;
}